{% extends "pdf/base.html" %}

{% block content %}
<p></p><a href="{% url 'pdf:pdf_single_page_extract' %}">PDF Singe Page Extract(单页提取)</a>
| <a href="{% url 'pdf:pdf_range_extract' %}">
    PDF Page Range Extract(页面范围提取)</a> | <a href="{% url 'pdf:pdf_merge' %}">PDF Merge(合并)</a> |
<a href="{% url 'pdf:pdf_replace' %}">
    PDF Replace(替换)</a></p>


<h3>PDF Page Range Extract (页面范围提取)</h3>
<p>请输入页面范围, 如2-8, 3-10。Please enter page range such as 2-8, 3-10.</p>
{{ form.non_field_errors }}
<form method="post" enctype="multipart/form-data" action="">{% csrf_token %}
{{ form.as_p }}
     <button type="submit" class="btn btn-primary">Extract</button>
</form>

{% endblock %}